server:
  port: 8002

spring:
#  main:
#    allow-bean-definition-overriding: true
  application:
    name: catalog-service
  datasource:
    url: jdbc:mysql://localhost:3306/catalog-service
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: catalog-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

jwt:
  secret-key: nhaptenphuctrinhvaolachayduoctoken

cache:
  refresh:
    books:
      cron: "0 0 3 * * *"   # chạy lúc 3h sáng mỗi ngày




eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web.server.adapter.HttpWebHandlerAdapter: TRACE



